/* Sobre */

.sobre-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
}

.sobre-text {
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #7d7d7d;
}

/* Pagamento */

.pagamento-title {
  font-family: Roboto;
  font-size: 24px;
  color: #110d0f;
}

/* Entrega */

.entrega-title {
  font-family: Roboto;
  font-size: 24px;
  color: #110d0f;
}

/* Troca e devolução */

.troca-e-devolucao-title {
  font-family: Roboto;
  font-size: 24px;
  color: #110d0f;
}

/*Segurança e devolução*/

.seguranca-e-privacidade-title {
  font-family: Roboto;
  font-size: 24px;
  color: #110d0f;
}

@media screen and (max-width: 768px) {
  .sobre-title {
    text-align: center
    ;
  }
}
