.institucional-links-wrapper {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-right: 32px;
}

.institucional-links {
  display: block;
  max-width: 285px;
}

.institucional-link-active,
.institucional-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-decoration: none;
  border-right: 1px solid #e5e5e5;
}

.institucional-link-active {
  font-weight: bold;
  background: #00c8ff;
  color: #fff;
  pointer-events: none;
}

.institucional-link {
  color: #7d7d7d;
}

.institucional-link:hover {
  filter: brightness(130%);
}

@media screen and (max-width: 768px) {
  .institucional-links-wrapper {
    margin: 0 0 40px;
  }

  .institucional-link-active,
  .institucional-link {
    border: none;
  }
}
