.menu-mobile-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -375px;
  right: 0;
  display: flex;
  z-index: 15;
  flex-direction: column;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.menu-mobile-wrapper.menu-open {
  left: 0;
  pointer-events: all;
}

@media screen and (min-width: 769px) {
  .menu-mobile-wrapper.menu-open {
    left: -375px;
    pointer-events: none;
  }
}

.menu-mobile-content {
  max-width: 375px;
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 20;
  background-color: #fff;
}

.menu-mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #00c8ff;
  border-bottom: 1px #c4c4c4 solid;
  color: #fff;
}

.menu-span {
  letter-spacing: 4px;
}

.menu-mobile-login-button {
  margin-right: 20px;
}

.menu-mobile-close-button {
  padding-left: 20px;
  border-left: 1px solid #fff;
}

.menu-mobile-login-button,
.menu-mobile-close-button {
  cursor: pointer;
}

.menu-mobile-links-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.menu-mobile-link {
  margin: 30px 0px 0px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000000;
}

.menu-mobile-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.menu-mobile-overlay.overlay-open {
  opacity: 1;
  pointer-events: all;
}

@media screen and (min-width: 769px) {
  .menu-mobile-overlay.overlay-open {
    opacity: 0;
    pointer-events: none;
  }
}
