* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.institucional-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

.page-name-wrapper {
  display: flex;
  align-items: center;
  margin: 0 10vw;
  padding: 28px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #c4c4c4;
}

.page-name-wrapper > * {
  margin-right: 8px;
}

.institucional-title {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #292929;
}

.institucional-page-wrapper {
  display: flex;
  max-width: 1018px;
  margin: 40px 10vw;
  padding: 0 12px;
}

.institucional-item-wrapper {
  display: flex;
  max-width: 716px;
}

@media screen and (max-width: 768px) {
  .institucional-wrapper {
    margin-top: 135px;
  }

  .institucional-title {
    margin-top: 5px;
  }

  .institucional-page-wrapper {
    flex-direction: column;
    align-items: center;
    margin: 22px 0;
    padding: 0 16px;
  }
}
